mixin links
  li
    a(href="#") One
  li
    a(href="#") Two

header
  nav.black
    .nav-wrapper
        a(href="#" class="brand-logo") Buffy
        a(href="#" data-activates="slide-out" onclick="$(.button-collapse).sideNav('show')" class="button-collapse")
          i.material-icons menu
        ul(class="right hide-on-med-and-down")
          +links
        ul(class="side-nav" id="slide-out")
          +links
script.
  $('document').ready(function() {
      $('.button-collapse').sideNav()
  });
