doctype html
html(lang="en")

  head
    include _partial/site/head

  header
    include _partial/site/header
  body
  
    
    div.container
      header

          block site_header


      section
        block site_body

  
  footer.page-footer
    block site_footer
      include _partial/site/footer
