div.navbar-fixed
  div.nav-wrapper .grey .lighten-5    
    h3.black-text
      a(href=config.root)= config.title
    
    ul(id="nav-mobile" class="right hide-on-med-and-down")
      li
        a(href="#") Index
      li
        a(href="#") Index
      li
        a(href="#") Index
